.aceHearts,
.smkingHearts,
.kingHearts,
.playingCard {
  margin: 2px;
  float: left;
  width: 50px;
  height: 80px;
  position: relative;
  background-image: url(card_sprites_001.gif);
  background-size: 1300% 500%;
  background-position: 650px 80px;
}
.kingHearts {
  width: 50px;
  height: 80px;
  background-position: 100px 0px;
}

.aceHearts {
  width: 50px;
  height: 80px;
  background-position: 650px 0px;
}

.smkingHearts {
  width: 30px;
  height: 50px;
  background-position: 60px 0px;
}
@keyframes cardToss {
  0% {
    transform: rotate(-105deg);
    opacity: 0;
    left: 200px;
    top: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
    /* } */
    /* 50% {
    transform: rotate(-45deg);
    left: 200px;
    top: 200px;
  }
  75% {
    transform: rotate(-20deg);
    left: 0px;
    top: 200px;
  }
  100% {
    transform: rotate(0deg);
    left: 0px;
    top: 0px; */
  }
}
