.playingCard {
  margin: 2px;
  float: left;
  width: 50px;
  height: 80px;
  position: relative;
  background-image: url(card_sprites_001.gif);
  background-size: 1300% 500%;
  background-position: 650px 80px;
}
#newGame {
  visibility: hidden;
}
/* #gameArea {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
#messageCenter {
  height: 20px;
}
#blackjackZone {
  height: 20px;
}
#cutCardAlert {
  height: 20px;
}

@keyframes cardToss {
  0% {
    transform: rotate(-105deg);
    opacity: 0;
    left: 200px;
    top: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}
#shuffleGIF {
  position: absolute;
  top: 20%;
}
